@import "./util-ralph.scss";

.c-pointer{
  cursor: pointer
}
.bg-transparent{
  background-color: transparent!important
}
.bg-whitesmoke{
  background-color: whitesmoke
}
.no-box-shadow{
  box-shadow: none;
}
.form-control-no-border:focus {
  border-color:#eee;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}